@model List<Model.EF.Menu>
<div class="call">
    @*<p><span>132 Hoàng Hoa Thám, Phường 6, Quận Bình Thạnh, TP HCM</span><br /> Call us <span class="number">0828 218 204</span>(Thạch)</span></p>*@
</div>
<div class="account_desc">
    @{
        var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
    }
    @if (session == null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }

        </ul>
    }
    else
    {
        <ul>
            <li>Xin chào:@session.UserName</li>
            <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
        </ul>
    }

</div>
<div class="clear"></div>
